.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 380px;
  background: #F2F2F2;
}

@media(min-width:$desktop-tablet-width) {
  .modal {
    position: absolute;
    top: 5%;

    min-height: 600px;
    width: 800px;
  }
}